@import "tailwindcss";
.logo:hover{
    display: inline-block; 
}

#root{
   
}

@font-face {
    font-family: font1;
    src: url(./fonts/Humane-VF.ttf);
}
@font-face {
    font-family: font2;
    src: url(./fonts/Fraunces-VariableFont_SOFTWONKopszwght.ttf);
}


@font-face {
    font-family: font3;
    src: url(./fonts/Lausanne-500-B-HNrPDz.woff2);
}

