@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/Fonts/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(../public/Fonts/Lausanne-500.woff2);
}

.moveX{
    animation-name: moveAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes moveAnimation {
    from{
        transform: translate(0);

    }

    to{
        transform: translate(-100%);
    }
    
}
